@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1efed;
  --foreground: #1f232e;
  --bg-header: #f1efed;
  --light-gray: #f1efed;
  --onyx: #323745;
  --medium-gray: #d3d1d1;
  --light-blue: #217aff;
  --dark-grey: #626e7f;
  --tg-blue: #0f6fff;
  --charcoal: #13171b;
  --white: white;
  --light-blue-2: #d6e0ef;
  --moon-light: #f9fafb;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --list-bg-color: #f1efed;
  --list-text-color-hover: #0f6fff;
  --current-field-text-color: #0f6fff;
  --select-field-arrow-color: #0f6fff;
  --border-color-active: #1f232e;
  --border-color-hover: #0f6fff;
  --list-item-bg-color: #d6e0ef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --bg-header: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background: var(--bg-header);
  padding: 0.4rem;
  border-bottom: 0.5px solid var(--charcoal);
}

.bg-custom {
  background-color: var(--background);
}

.text-custom {
  color: var(--foreground);
}

html.dark .bg-custom {
  background-color: var(--background);
}

html.dark .text-custom {
  color: var(--foreground);
}
